/* phpbb.com Website Style Sheet
--------------------------------------------------------------
Copyright 2007 phpBB Group ( http://www.phpbb.com/ )
--------------------------------------------------------------
*/

/* Header block with images */
body div.header {
	background-repeat: no-repeat;
	width: 850px;
	height: 129px;
	float: left;
	margin-top: 21px;
}
body div.header h1 {
	margin: 0;
}
body div.header h1 a {
	display: block;
	width: 850px;
	height: 129px;
	text-indent: -5000px;
	text-decoration: none;
	margin: 0;
}
html>body div.header h1 a {
	background: url("/assets/images/images/logo_phpbb.png") 25px 30px no-repeat;
}
* html div.header h1 a {
	background: url("/assets/images/images/logo_phpbb.gif") 25px 30px no-repeat; /* .gif */
}

/* Section header images */
body div.header {
	background-image: url("/assets/images/headers/header_misc.jpg");
}
body.home div.header {
	background-image: url("/assets/images/headers/header_olympus.jpg");
}
body.downloads div.header {
	background-image: url("/assets/images/headers/header_downloads.jpg");
}
body.changelog div.header {
	background-image: url("/assets/images/headers/header_changelog.jpg");
}
body.about div.header {
	background-image: url("/assets/images/headers/header_about.jpg");
}
body.contact div.header {
	background-image: url("/assets/images/headers/header_about.jpg");
}
body.features div.header {
	background-image: url("/assets/images/headers/header_features.jpg");
}
body.history div.header {
	background-image: url("/assets/images/headers/header_history.jpg");
}
body.support div.header {
	background-image: url("/assets/images/headers/header_support.jpg");
}
body.documentation div.header {
	background-image: url("/assets/images/headers/header_documentation.jpg");
}
body.irc div.header {
	background-image: url("/assets/images/headers/header_irc.jpg");
}
body.intl div.header {
	background-image: url("/assets/images/headers/header_intl.jpg");
}
body.development div.header {
	background-image: url("/assets/images/headers/header_eiffel.jpg");
}
body.incidents div.header {
	background-image: url("/assets/images/headers/header_incidents.jpg");
}
body.pastebin div.header {
	background-image: url("/assets/images/headers/header_pastebin.jpg");
}
body.security div.header {
	background-image: url("/assets/images/headers/header_security.jpg");
}
body.customise div.header {
	background-image: url("/assets/images/headers/header_customise.jpg");
}
body.customisation-database div.header {
	background-image: url("/assets/images/headers/header_customisation_database.jpg");
}

body.community div.header {
	background-image: url("/assets/images/headers/header_community.jpg");
}

body.showcase div.header {
	background-image: url("/assets/images/headers/header_showcase.jpg");
}
body.demo div.header {
	background-image: url("/assets/images/headers/header_lighttower.jpg");
}

/* Countdown
body.community div.header, body.customise div.header {
	background-image: url("/assets/images/headers/header_countdown.jpg");
} */

/* XMAS 
body.community div.header {
	background-image: url("/assets/css/header.php");
}
*/
 
/* Halloween 
body.community div.header {
	background-image: url("/assets/images/headers/header_halloween03.gif");
} */

/* Valentine's Day 
body.community div.header {
	background-image: url("/assets/images/headers/header_valentines02.jpg");
} */

body.mods div.header {
	background-image: url("/assets/images/headers/header_mods.jpg");
}
body.modx div.header {
	background-image: url("/assets/images/headers/header_modx.jpg");
}
body.styles div.header {
	background-image: url("/assets/images/headers/header_styles.jpg");
}
body.languages div.header {
	background-image: url("/assets/images/headers/header_languages.jpg");
}
body.bugs div.header {
	background-image: url("/assets/images/headers/header_bugs.jpg");
}
body.search div.header {
	background-image: url("/assets/images/headers/header_search.jpg");
}
body.kb div.header {
	background-image: url("/assets/images/headers/header_kb.jpg");
}
body.errordocs div.header {
	background-image: url("/assets/images/headers/header_error.jpg");
}
body.mailinglist div.header {
	background-image: url("/assets/images/headers/header_lighttower.jpg");
}
body.press div.header {
	background-image: url("/assets/images/headers/header_press.jpg");
}
body.prosilver div.header {
	background-image: url("/assets/images/headers/header_prosilver.jpg");
}
body.shop div.header {
	background-image: url("/assets/images/headers/header_moon.jpg");
}
body.hosting div.header {
	background-image: url("/assets/images/headers/header_olympus.jpg");
}
body.londonvasion div.header {
	background-image: url("/assets/images/headers/header_londonvasion.jpg");
}
body.londonvasion2 div.header {
	background-image: url("/assets/images/headers/header_londonvasion2.jpg");
}
body.libertyvasion div.header {
	background-image: url("/assets/images/headers/header_libertyvasion.jpg");
}
body.mod_rules div.header {
	background-image: url("/assets/images/headers/header_mod_rules.jpg");
}
body.umil div.header {
	background-image: url("/assets/images/headers/header_blackhole.jpg");
}
body.library div.header {
	background-image: url("/assets/images/headers/header_library.jpg");
}
body.blog div.header {
	background-image: url("/assets/images/headers/header_blog.jpg");
}
body.meetinglogs div.header {
	background-image: url("/assets/images/headers/header_logs.jpg");
}
body.antispam div.header {
	background-image: url("/assets/images/headers/header_spam.jpg");
}
body.code_changes div.header {
	background-image: url("/assets/images/headers/header_code_changes.jpg");
}
body.libertyvasion div.header {
	background-image: url("/assets/images/headers/header_libertyvasion.jpg");
}
body.get-involved div.header {
        background-image: url("/assets/images/headers/header_getinvolved.jpg");
}
body.home #navbar {
	margin-bottom: 20px;
}



/* Corners and sides */
span.side-left, span.side-right {
	display: block;
	width: 20px;
	height: 150px;
	background: url("/assets/images/images/sides_top.gif") no-repeat;
}
span.side-left {
	background-position: 0 0;
	float: left;
	margin-right: 10px;
}
span.side-right {
	background-position: 100% 0;
	float: right;
}
span.fcorners-bottom, span.fcorners-bottom span {
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 20px;
	background-repeat: no-repeat;
	background-image: url("/assets/images/images/corners_bottom.gif");
	margin: 0;
}
span.fcorners-bottom {
	background-position: 0 0;
}
span.fcorners-bottom span {
	background-position: 100% -20px;
}
