/* phpbb.com Website Style Sheet
--------------------------------------------------------------
Copyright 2007 phpBB Group ( http://www.phpbb.com/ )
--------------------------------------------------------------
*/

/* Navbar */
.phpbb-navbar {
	clear: both;
	margin-top: 1px;
	background: #828d96 url("/assets/images/images/bg_navbar.png") 0 0 repeat-x;
	box-shadow: inset 0 5px 5px rgba(69, 73, 76, 0.5);
	border-radius: 0 0 10px 10px;
	position: relative;
}

.phpbb-navbar:after {
	clear: both;
	content: '';
	display: block;
}

.phpbb-navbar ul {
	list-style: none;
	display: block;
}

.phpbb-navbar .nav-button {
	display: block;
	margin: 0 3px;
	float: left;
	position: relative;
}

/* Rolloff state */
.phpbb-navbar .nav-button > a {
	font-family: "Trebuchet MS",Verdana,Helvetica,Arial,Sans-serif;
	color: #FFF;
	cursor: pointer;
	display: block;
	font-size: 13px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	text-shadow: 0 1px 2px #525d66;
	padding: 0 10px;
}

/* Always active states */
body.about li.but-about > a,
body.development li.but-development > a,
body.downloads li.but-downloads > a,
body.languages li.but-downloads > a,
body.customise li.but-customise > a,
body.mods li.but-customise > a,
body.styles li.but-customise > a,
body.support li.but-support > a,
body.community  li.but-community > a,
body.shop li.but-shop > a,
body.blog li.but-blog > a,
body.hosting li.but-hosting > a {
	background: #e0e0e0 url("/assets/images/images/bg_navbar_active.png") 0 -1px repeat-x;
	color: #de0a46;
	text-shadow: 0 1px 1px #F1F1F1;
}

.phpbb-navbar .nav-button:hover > a,
.phpbb-navbar .nav-button.hovering > a {
	background: #b1b7bc url("/assets/images/images/bg_navbar_hover.png") 0 0 repeat-x;
	color: #FFF;
	text-shadow: 0 1px 2px #525d66;
}

.phpbb-navbar .nav-button > a:hover {
	text-decoration: none;
}

.phpbb-navbar .nav-button:first-child {
	margin-left: 0;
}

.phpbb-navbar .nav-button:first-child > a {
	border-bottom-left-radius: 10px;
}

.phpbb-navbar .submenu-toggle {
	display: none !important;
}

.phpbb-navbar .but-menu {
	display: none;
	float: left !important;
	margin: 0 5px !important;
}

.phpbb-navbar .but-menu > a {
	font-size: 16px;
	padding-left: 30px;
	border-radius: 0 !important;
}

.phpbb-navbar .but-menu > a:before {
	content: '';
	position: absolute;
	left: 8px;
	top: 10px;
	height: .125em;
	width: 14px;
	border-bottom: 0.125em solid #FFF;
	border-top: 0.375em double #FFF;
}

/* Search box
--------------------------------------------- */
.phpbb-navbar #searchbox {
	display: block;
	float: right;
	height: 30px;
	margin: 0px;
	position: static;
}

.phpbb-navbar #searchbox fieldset {
	border: none;
	padding-top: 5px;
}

.phpbb-navbar #searchbox input {
	width: 130px;
	height: 16px !important;
	margin: 5px 5px 0;
	border: none !important;
	box-shadow: inset 0 1px 0 #404040, inset 0 0 2px #CCC;
	background: #FFF url("/assets/images/images/bg_search_input.gif") no-repeat 3px 50%;
	border-radius: 7px;
	font-size: 1.1em !important;
	padding: 2px 5px 2px 25px;
}

/* @group Submenu
--------------------------------------------- */
.sub-menu {
	display: none;
	background: #99A1A8 url("/assets/images/images/bg_submenu.png") repeat-x 0 0;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(69, 73, 76, 0.5);
	position: absolute;
	padding: 10px 8px 0 8px;
	width: 370px;
	left: -12px;
	top: 25px;
	overflow: visible;
	z-index: 9999;
}

.sub-menu-bottom {
	clear: both;
	height: 10px;
}

.sub-menu-extra {
	padding-bottom: 10px;
}

.sub-menu-extra .sub-menu-bottom {
	height: auto;
	padding: 10px 2px 0;
	text-align: right;
}

.phpbb-navbar .sub-menu-bottom a {
	border-top: 1px dashed #b2b8bd;
	display: block;
	padding-top: 10px;
	font-weight: bold;
}

.phpbb-navbar .sub-menu-bottom a:hover {
	color: #105289;
}

.phpbb-navbar li .sub-menu a {
	background: none;
	display:block;
	height:auto;
	overflow:hidden;
	position: static;
	width: auto;
	color: #FFF;
}

.phpbb-navbar .sub-menu a:hover {
	color: #FFF;
	text-decoration: none;
}

.sub-menu ul {
	width: 180px;
	float: left;
	margin: 0 2px;
}

ul.wide-menu {
	width: 364px;
}

.sub-menu h4 {
	font-weight: bold;
}

.phpbb-navbar .sub-menu li {
	display: block;
	float:  none;
	height: auto;
	padding: 6px;
	padding-bottom: 8px;
	margin-bottom: 4px;
}

.phpbb-navbar li .sub-menu p {
	margin: 0;
	font-size: 10px;
}

/* External link image by jQuery UI */
.phpbb-navbar li .sub-menu li:hover h4 a, .phpbb-navbar .hover_ie h4 a, .phpbb-navbar .hover_ie h4 a:hover {
	font-size: 13px;
	color: #105289;
}

.phpbb-navbar li .sub-menu .last {
	margin: 0;
}

.phpbb-navbar .sub-menu li:hover, .hover_ie {
	background: #ccd1d4 no-repeat;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0px 4px rgba(0,0,0,0.3);
	border:  1px solid #DDD;
	padding: 5px 5px 7px 5px;
}

.phpbb-navbar .sub-menu li:hover a, .phpbb-navbar .hover_ie p a, .phpbb-navbar .hover_ie p a:hover {
	color: #333;
	text-shadow: none;
}

.on-top {
	z-index: 10000;
}

.phpbb-navbar .sub-menu li.external:hover {
	background-image: url(images/bg_submenu_external.gif);
	background-position: 165px 5px;
}

.phpbb-navbar .sub-menu li.wide-menu-item:hover {
	background-position: 349px 5px;
}

/* @end */

@media only screen and (max-width: 915px), only screen and (max-device-width: 915px)
{
	.phpbb-navbar .but-menu {
		display: block;
	}

	#phpbb-menu {
		background: #828d96;
		display: none;
		position: absolute;
		top: 30px;
		z-index: 11;
		border-bottom-right-radius: 3px;
	}

	#phpbb-menu.show {
		display: block;
	}

	#phpbb-menu:after {
		content: '';
		clear: both;
		display: block;
	}

	.phpbb-navbar .nav-button {
		margin: 5px 0;
		float: none;
	}

	.phpbb-navbar .nav-button > a {
		border-radius: 0 !important;
		padding-right: 30px;
	}

	.phpbb-navbar .nav-button:hover > a,
	.phpbb-navbar .nav-button.hovering > a {
		background: #b1b7bc;
		box-shadow: 0 0 2px rgba(0,0,0,0.3);
	}

	.phpbb-navbar .nav-button > .submenu-toggle {
		display: block !important;
		float: none;
		position: absolute;
		background: rgba(0,0,0,0.1);
		margin: 5px;
		border-radius: 4px !important;
		box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
		height: 20px;
		width: 20px;
		right: 0;
		padding: 0;
		text-align: center;
	}

	.phpbb-navbar .nav-button > .submenu-toggle:before {
		content: '\000BB';
		display: block;
		line-height: 16px;
		opacity: 0.5;
		font-size: 18px;
	}

	.phpbb-navbar .nav-button > .submenu-toggle:hover {
		box-shadow: inset -1px -1px 2px rgba(0,0,0,0.4), inset 1px 1px 2px rgba(255,255,255,0.7);
	}

	.sub-menu {
		top: 0;
		left: 100%;
		border-top-left-radius: 0;
	}
}

@media only screen and (max-width: 520px), only screen and (max-device-width: 520px)
{
	.sub-menu {
		width: auto;
	}

	.sub-menu ul {
		float: none;
	}

	.sub-menu img {
		display: none;
	}

	ul.wide-menu {
		width: 180px;
	}

	.phpbb-navbar li .sub-menu p {
		display: none;
	}
}
